header{
	padding-top: 1.5em;
}

h1{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	text-align: center;
	color: #70bf47;
}

h2, h3, h4{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	color: white;
	text-align: center;
}

h4{
	border-bottom: 5px solid grey;
	color: white;
}

h5{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	color: white;
}

nav{
	border-top: 5px solid #bbb;
	border-bottom: 5px solid #bbb;
}

body{
	background-color: #0D1E47;
}


p{
	color: white;
	line-height: 25px;
}

ul{
	color: white;
}

footer{
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}


/*Photo controls for the Alumni*/
div img{
	border-radius: 50px;
	width: 8em;
	height: 8em;
}

/*Competitions page*/
img{
	width: 30em;
}

/*This is the youtube video on index page*/
iframe{
	width: 100%;
}

span{
	color: white;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*THIS IS ALUMNI PAGE...FIX LATER...*/
div{
	background-color: black;
}

/*This affects the buttons in the nav bar*/
.nav-item{
	font-weight: bold;
	color: black;
	height: 2em;
	color: white;
}

/*This is for the home link in */
.nav-link{
	color: white;
}

.mem-right{
	position: right;
}


.left-h2, .left-h3, .left-p, .right-h2, .right-h3, .right-p{
	text-align: center;
	color: white;
}

.Alumnais{
	border-left: 5px solid white;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
	border-top: 5px solid white;
}


/*Photo controls for the members page*/
.float-left, .float-right{ 
	border-radius: 50px;
	width: 8em;
	height: 8em;
}

#Members, .mem-left, .mem-right{
	border-bottom: 5px solid #10ebdc;
}


/*Photo controls for the Parts page*/
#partsimg{
	width: 20em;
	padding-left: 1em;
	padding-right: 1em;
}


/*Photo controls for the competitions page*/
#eventPartners{
	border-radius: 50px;
	width: 8em;
	height: 8em;
}


/*THE LOGO WHEN IN HALF SCREEN*/
#lines{
	width: 1.5em;
	height: 1.5em;
}
