h2, h4{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	color: grey;
	text-align: center;
}

h1{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	text-align: center;
	color: #70bf47;
}

h4{
	border-bottom: 5px solid #bbb;
}

.nav-item{
	font-weight: bold;
	color: black;
	border-right: 0.3em solid grey;
	height: 2em;
	color: white;
}

.nav-link{
	color: white;
}

span{
	color: white;
}


body{
	background-color: #0D1E47;
}

nav{
	border-top: 5px solid #bbb;
	width: 100%;
}

iframe{
	border-top: 5px solid #bbb;
	width: 100%;
}

#general-text{
	border-bottom: 5px solid #bbb;
	line-height: 25px;
	color: white;
}

footer{
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}