

header{
	padding-top: 1.5em;
}

h1{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	text-align: center;
	color: #70bf47;
}

h2, h3, h4, h5{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	color: white;
	text-align: center;
}

h4{
	border-bottom: 5px solid grey;
	color: white;
}

h5{
	font-family: CallunaSansW01-Regular;
	font-weight: bold;
	color: white;
}

nav{
	border-top: 5px solid #bbb;
	border-bottom: 5px solid #bbb;
}

body{
	background-color: #0D1E47;
}


p{
	color: white;
	line-height: 25px;
}

ul{
	color: white;
}

footer{
	border: 5px solid black;
	margin-top: 5em;
	background: #0d3b47;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10em;
}

hr {
    border: none;
    height: 2.5px;
    color: #333;
    background-color: #333; 
}

/*Photo controls for the Alumni*/
.AlumnaisPictures{
	border-radius: 50px;
	width: 8em;
	height: 8em;
}


/*This is the youtube video on index page*/
iframe{
	width: 100%;
	margin-top: 3em;
}

span{
	color: white;
}

/*This is on the Alumnai page headers*/
u{
	text-decoration-color: gold;
}

/*This affects the buttons in the nav bar*/
.nav-item{
	font-weight: bold;
	color: black;
	height: 2em;
	color: white;
}

/*This is for the home link in */
.nav-link{
	color: white;
}

.mem-right{
	position: right;
}

.mem-left, .mem-right{
	border: 5px solid #10ebdc;
	margin-bottom: 5em;
	background-color: #47360d;
}


.left-h2, .left-h3, .left-p, .right-h2, .right-h3, .right-p{
	text-align: center;
	color: white;
}

/*Photo controls for the members page*/
.float-left, .float-right{ 
	border-radius: 50px;
	width: 8em;
	height: 8em;
}


.Alumnais{
	border: 5px solid white;
	background-color: #47360d;
 	margin-top: 3em;
}

/*Following is the controls for the images and the divs in the gallery/photos page*/
.gallery{
  margin: 2em;
  border: 1px solid #ccc;
  display: inline-block;
  width: 15em;
  background-color: #0c92e3;
}

.gallery:hover {
  border: 2px solid yellow;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc{
  padding: 15px;
  text-align: center;
  color: white;
}
/*End of the controls of the images and divs of the gallery page*/



/*Header control for Alumni, Index, Members, Parts, Competitions, Contact_us, Gallery page*/
.heads{
	margin-top: 1.2em;
	margin-bottom: .5em;
}


/*For the h5 header on the parts page*/
#partsH5{
	text-align: center;
	padding-top: .75em;
}


/*The parts page More bots to come header (on the very bottom)*/
#moreToCome{
	padding-top: 11em;
}


/*The following are controls for the images/text on the contact us page*/

.contPhotosleft{
	height: 5em;
	width: 5em;
	float: left;
}

.contPhotosright{
	height: 5em;
	width: 5em;
	float: right;
}

.contDetail{
	text-align: center;
}


/*This is the end of the controls for the contact us page content*/


/*Photo controls for the Parts page*/
#partsimg{
	width: 100%;
	height: 45em;
	margin-bottom: 1.5em;
}

/*The Div on the parts page*/
#leftBot{
	float: left;
	background-color: #47360d;
	width: 30em;
	height: 24em;
	border: yellow 5px solid;
}


/*The Div on the parts page*/
#rightBot{
	float: left;
	background-color: #47360d;
	width: 30em;
	height: 24em;
	border: yellow 5px solid;
	margin-left: 5em;
}

/*The paragraph on the index page*/
#genText{
	margin-bottom: 5em;
}


/*Photo description on the parts page*/
#partsInfo{
	margin-top: 2em;
	margin-bottom: 3em;
}


/*Photo controls for the competitions page*/
#eventPartners{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
}

/*Competitions page controls for images and div*/
.gallery_comp{
  margin: 3em;
  border: 1px solid #ccc;
  display: inline-block;
  width: 15em;
  background-color: #47360d;
}

.gallery_comp:hover {
  border: 2px solid yellow;
}

.gallery_comp img {
  width: 100%;
  height: auto;
}

.desc_comp{
  padding: 15px;
  text-align: center;
  color: white;
}
/*End of controls of the comp images and divs*/


/*THE LOGO WHEN IN HALF SCREEN index page line 67*/
#lines{
	width: 1.5em;
	height: 1.5em;
}

/*This is for the header under the gif in the roles page*/
#shy{
	margin-top: 2.5em;
}


/*This is for the image gallery to make the entries centered*/
#parentDiv{
	margin: auto;
	width: 90%;
}

#founders{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;

}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  height: 200px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 75%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


	/*This part is a work in progress still*/

/*The following are Index page founding members overlay text settings*/
/*.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 150%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 150%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


}*/
/*End of index page overlay settings*/


